/* src/components/Cart/Cart.css */
.cart-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.header-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 0px 0px 75px 0px;
    background: linear-gradient(135deg,#61994D, #385c2b);
    color: white;
    position: fixed;
}

.title {
    font-size: 1.5em;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    font-size: 18px;
    margin-right: 10px;
}

.profile-pic-cart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.cart-icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.cart-content {
    margin-top: 100px;
    flex: 1;
    padding: 20px;
}

.pay-now-button {
    width: 100%;
    padding: 15px;
    background-color: #61994D;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.4s ease;
}

.pay-now-button:hover {
    background-color: #385c2b;
}

.footer-cart {
    background: linear-gradient(135deg, #414141, #141414);
    color: white;
    text-align: left;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}