/* src/components/History/History.css */
.history-container {
    font-family: Arial, sans-serif;
}

.history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    padding: 20px;
    border-radius: 0px 0px 75px 0px;
    background: linear-gradient(135deg,#61994D, #385c2b);
    color: white;
    position: fixed;
}

.store-name {
    font-size: 36px;
    font-weight: bold;
}

.report-button {
    padding: 10px;
    width: 350px;
    font-size:20px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.report-button:hover{
    background-color: #eeeeee;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.user-name {
    font-size: 18px;
    margin-right: 10px;
}

.profile-pic-history-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-pic-history-admin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.history-content {
    padding: 100px 20px 100px 20px;
}

.history-list {
    margin-top: 20px;
}

.history-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 2px 2px 5px hsl(0deg 0% 0% / 0.2);
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px
}

.item-details {
    flex-grow: 1;
}

.item-name-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 10px;
}

.buyer-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 10px;
}

.receipt-button {
    background-color: #61994D;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.4s ease;
}

.receipt-button:hover {
    background-color: #385c2b;
}

.footer-history {
    position: fixed;
    background: linear-gradient(135deg, #414141, #141414);
    color: white;
    text-align: left;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}