/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

/* Container */
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    padding: 20px;
    border-radius: 0px 0px 75px 0px;
    background: linear-gradient(135deg,#61994D, #385c2b);
    color: white;
    position: fixed;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.search-bar {
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 450px;
}

.search-bar:focus{
    outline: none;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.cart-icon {
    font-size: 32px;
    color: #ffffff;
    margin-right: 25px;
    cursor: pointer;
}

.user-name {
    font-size: 18px;
    margin-right: 10px;
}

.profile-pic-home {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Product Display */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 20px;
    padding: 100px 20px 20px 20px;
    flex: 1;
    place-items: center; /* Tambahkan ini untuk memusatkan produk */
}

/* Footer */
.footer {
    background: linear-gradient(135deg, #414141, #141414);
    color: white;
    text-align: left;
    width: 100%;
    padding: 15px;
}
